h1{
    color:#abc3e4;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
h2{
    color:#abc3e4;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}
h3{
  color:dimgray;
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
}
p{
    color:#abc3e4;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
}
body {
    background-color: #424966;
  }

  .vega {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .page {
    width: 900px;
    background-color: #424966;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
  }
  .description {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right:20px;
  }
  .outer{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding-left: 40px;
    padding-right:40px;
    
  }

  